$mainColor: #056d50;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}
#control{
    width: 340px;
    margin: 20px auto;
    overflow: hidden;
    button {
        padding: 10px 30px;
    }
}
#gamebox{
    width: 340px;
    height: 440px;
    background-color: $mainColor;
    border-radius: 10px;
    border: 5px solid #000;
    margin: 100px auto 10px;
    font:20px bold Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    #main{
        width: 304px;
        height: 304px;
        border: 2px solid #000;
        margin: 20px auto;
        position: relative;
        #snake {
            &>div{
                width: 10px;
                height: 10px;
                background: #000;
                border: 1px solid $mainColor;
                position: absolute;
            }
        }
        #food {
            width: 10px;
            height: 10px;
            display: flex;
            flex-flow: row wrap;
            position: absolute;
            &>div{
                width: 5px;
                height: 5px;
                background: #000;
                transform: rotate(45deg);
                border: 1px solid $mainColor;
            };
        }
    }
    #scrolePanel{
        width: 304px;
        height: 70px;
        border: 2px solid #000;
        margin: 18px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    }
}